.dashboard-container {
  margin: 0px auto;
  max-width: 560px;
  padding: 0 20px;
}

.dashboard-avatar-form,
.dashboard-username-form,
.dashboard-password-form,
.dashboard-email-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-avatar-form {
  margin-top: 10px;
}

.dashboard-avatar-label {
  display: unset;
  font-size: unset;
  width: 50%;
}

.dashboard-avatar-form .form-text-input {
  color: #717171;
}

.dashboard-avatar-form .form-text-input:hover {
  color: white;
}

.dashboard-submit-button {
  width: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 24px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  cursor: pointer;
}

.dashboard-submit-button:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #ccc;
}
