.form-container {
  margin: 0px auto;
  max-width: 560px;
}

.input-title,
.input-desc,
.input-date,
.input-banner,
.input-city,
.input-location {
  width: 100%;
}

label {
  font-size: 0;
  display: none;
}
