body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

.container {
  padding: 0 24px;
}

.header-margin {
  margin-top: 100px;
}

.hide {
  display: none;
}

.ehorizon-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* FORM STYLING */

.form-container {
  margin: 0px auto;
  max-width: 560px;
  padding: 0 20px;
}

.form-text-input {
  width: 100%;
  background-color: transparent;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  resize: none;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.3);
  color: white;
  box-sizing: border-box;
}

.form-text-input:hover::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.form-input-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-date-input {
  padding-right: 50px;
}

.event-banner-input {
  color: #717171;
}

.event-banner-input:hover {
  color: #fff;
}

.form-submit-button {
  width: 100%;
  margin: 12px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 24px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #ccc;
  border-color: #ccc;
}

label {
  font-size: 0;
  display: none;
}

.no-events-message {
  margin-left: 12px;
}
@media (min-width: 768px) {
  .form-submit-button {
    width: auto;
  }
}

.react-datepicker-wrapper {
  flex-basis: 100%;
}
