.navbar {
  padding: 15px;
  height: 44px;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  z-index: 10000;
  justify-content: space-between;
}

.navbar-left-child {
  display: flex;
}

.navbar-right-child {
  display: flex;
  align-items: center;
}

.navbar_logged-in {
  display: flex;
  align-items: center;
}

.navbar-item {
  padding-left: 15px;
  /* padding: 0 5px; */
  /* border-left: 1px solid white; */
}

.navbar-item-link {
  display: none;
}

.navbar-button {
  background: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  padding: unset;
  cursor: pointer;
}
.navbar-button.focus,
.navbar-button:focus {
  outline: 0;
  box-shadow: none !important;
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  border: 1px solid white;
  min-width: 260px;
  z-index: 1000;
  top: 55px;
  right: 0;
  left: auto;
  padding: 5px 15px 10px;
}

.navbar-dropdown-content a {
  text-decoration: none;
  display: block;
}

.navbar-dropdown-content a:hover,
.navbar-button:hover,
.navbar-item-link:hover {
  text-decoration: underline;
}

.navbar-dropdown-item {
  padding: 10px 0;
}

.navbar-dropdown-content:before,
.navbar-dropdown-content:after {
  content: "";
  position: absolute;
  right: 26px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1px 10px 10px 10px;
  border-color: transparent transparent #000 transparent;
  z-index: 9999;
}

.navbar-dropdown-content:before {
  top: -12px;
  border-bottom-color: white;
}

.navbar-hamburger a {
  display: block;
}

.show {
  display: block;
}

.navbar-icon-search {
  font-size: 20px;
  border: none;
}

.navbar-icon-arrowdown {
  padding-left: 2px;
  font-size: 15px;
}

.navbar-logo-text {
  text-decoration: none;
  font-size: 2.5vw;
  display: flex;
  align-items: center;
}

.navbar-logo-text span {
  padding-left: 10px;
}

/* DESKTOP STUFF */

@media (min-width: 768px) {
  .navbar-hamburger a {
    display: none;
  }

  .navbar-item-link {
    display: unset;
    font-size: 14px;
    text-decoration: none;
  }

  .navbar-dropdown-content {
    min-width: 160px;
  }
}
@media (min-width: 500px) {
  .navbar-dropdown-content {
    min-width: 160px;
  }
}

@media (min-width: 768px) {
  .navbar-hamburger a {
    display: none;
  }

  .navbar-item-link {
    display: unset;
    font-size: 14px;
    text-decoration: none;
  }
}
