.profile-info-container {
  display: flex;
  justify-content: space-between;
}

.profile-info-avatar {
  max-width: 100px;
}

.profile-info-content {
  padding-top: 10px;
}

.profile-follow-button {
  background: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  padding: unset;
  cursor: pointer;
}

.profile-follow-button:focus {
  outline: 0;
  box-shadow: none !important;
}

.profile-follow-button:hover {
  text-decoration: underline;
}
